<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmv.frre.moduloestudiante"
    android:versionCode="8"
    android:versionName="2.1"  >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- Needed to mark a contact as contacted -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="org.thialfihar.android.apg.permission.READ_KEY_DETAILS" />

    <permission
        android:name="com.jmv.frre.moduloestudiante.permission.READ_ATTACHMENT"
        android:description="@string/read_attachment_desc"
        android:label="@string/read_attachment_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.jmv.frre.moduloestudiante.permission.READ_ATTACHMENT" />

    <permission
        android:name="com.jmv.frre.moduloestudiante.permission.REMOTE_CONTROL"
        android:description="@string/remote_control_desc"
        android:label="@string/remote_control_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.jmv.frre.moduloestudiante.permission.REMOTE_CONTROL" />

    <permission
        android:name="com.jmv.frre.moduloestudiante.permission.READ_MESSAGES"
        android:description="@string/read_messages_desc"
        android:label="@string/read_messages_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.jmv.frre.moduloestudiante.permission.READ_MESSAGES" />

    <permission
        android:name="com.jmv.frre.moduloestudiante.permission.DELETE_MESSAGES"
        android:description="@string/delete_messages_desc"
        android:label="@string/delete_messages_label"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.jmv.frre.moduloestudiante.permission.DELETE_MESSAGES" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="com.jmv.frre.moduloestudiante.K9"
        android:allowTaskReparenting="false"
        android:theme="@style/Theme.K9.Startup" 
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.Search" />

        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.Accounts"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="application/x-k9settings" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swacorp.oncallpager.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.Prefs"
            android:configChanges="locale"
            android:excludeFromRecents="true"
            android:label="@string/prefs_title"
            android:taskAffinity="com.jmv.frre.moduloestudiante.activity.setup.Prefs" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.WelcomeMessage"
            android:configChanges="locale"
            android:label="@string/welcome_message_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.FontSizeSettings"
            android:configChanges="locale"
            android:label="@string/font_size_settings_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupBasics"
            android:configChanges="locale"
            android:label="@string/account_setup_basics_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupAccountType"
            android:configChanges="locale"
            android:label="@string/account_setup_account_type_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupBasicsSwat"
            android:configChanges="locale"
            android:label="@string/account_setup_basics_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupIncoming"
            android:configChanges="locale"
            android:label="@string/account_setup_incoming_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupComposition"
            android:configChanges="locale"
            android:label="@string/account_settings_composition_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupOutgoing"
            android:configChanges="locale"
            android:label="@string/account_setup_outgoing_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupOptions"
            android:configChanges="locale"
            android:label="@string/account_setup_options_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupNames"
            android:configChanges="locale"
            android:label="@string/account_setup_names_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.ChooseFolder"
            android:configChanges="locale"
            android:label="@string/choose_folder_title"
            android:noHistory="true"
            android:theme="@style/Theme.K9Dialog" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.ChooseIdentity"
            android:configChanges="locale"
            android:label="@string/choose_identity_title"
            android:theme="@style/Theme.K9Dialog" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.SysacadActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.ExamsMadeActivity"
            android:label="@string/title_activity_exams_made" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.IncsripcionAExamen"
            android:label="@string/title_activity_incsripcion_aexamen" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.MaintenanceMode"
            android:label="@string/title_activity_maintenance_mode" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.sysacad.ConectionRequired"
            android:label="@string/title_activity_conection_required" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.ListarExamenes"
            android:label="@string/title_activity_listar_examenes" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.calendar.CalendarioAcademico"
            android:label="@string/title_activity_calendario_academico" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.calendar.StandardImageProgrammatic"
            android:label="@string/title_activity_calendario_academico" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activities.calendar.CalendarView"
            android:label="@string/title_activity_calendar_view" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.AgregarEventoActivity"
            android:label="@string/title_activity_agregar_evento" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.SelectProfile"
            android:label="@string/title_activity_select_profile" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.HorariosCursado"
            android:label="@string/title_activity_horarios_cursado" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.SendEmailActivity"
            android:label="@string/title_activity_send_email" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.ContactoActivity"
            android:label="@string/title_activity_contacto" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.InscripcionCursadoActivity"
            android:label="@string/title_activity_inscripcion_cursado" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.ManageIdentities"
            android:configChanges="locale"
            android:label="@string/manage_identities_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.EditIdentity"
            android:configChanges="locale"
            android:label="@string/edit_identity_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.NotificationDeleteConfirmation"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!--
             XXX Note: this activity is hacked to ignore config changes,
             since it doesn't currently handle them correctly in code.
        -->
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSetupCheckSettings"
            android:configChanges="keyboardHidden|orientation|locale"
            android:label="@string/account_setup_check_settings_title" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.AccountSettings"
            android:configChanges="locale"
            android:label="@string/account_settings_title_fmt" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.setup.FolderSettings"
            android:configChanges="locale"
            android:label="@string/folder_settings_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.FolderList"
            android:configChanges="locale"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>

                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.MessageList"
            android:configChanges="locale"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>

                <!-- This action is only to allow an entry point for launcher shortcuts -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="messages"
                    android:scheme="email" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.MessageCompose"
            android:configChanges="locale"
            android:enabled="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <!-- Search Activity - searchable -->
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.Search"
            android:configChanges="locale"
            android:label="@string/search_action"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.LauncherShortcuts"
            android:configChanges="locale"
            android:label="@string/shortcuts_title" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.jmv.frre.moduloestudiante.activity.AccessibleEmailContentActivity" >
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.EmailAddressList"
            android:configChanges="locale" >
        </activity>

        <receiver
            android:name="com.jmv.frre.moduloestudiante.service.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jmv.frre.moduloestudiante.service.BroadcastReceiver.scheduleIntent" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jmv.frre.moduloestudiante.service.RemoteControlReceiver"
            android:enabled="true"
            android:permission="com.jmv.frre.moduloestudiante.permission.REMOTE_CONTROL" >
            <intent-filter>
                <action android:name="com.jmv.frre.moduloestudiante.K9RemoteControl.set" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.jmv.frre.moduloestudiante.K9RemoteControl.requestAccounts" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jmv.frre.moduloestudiante.service.CoreReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.jmv.frre.moduloestudiante.service.CoreReceiver.wakeLockRelease" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.jmv.frre.moduloestudiante.service.StorageReceiver"
            android:enabled="true" >
            <intent-filter>

                <!--
android.intent.action.MEDIA_MOUNTED

     * Broadcast Action:  External media is present and mounted at its mount point.
     * The path to the mount point for the removed media is contained in the Intent.mData field.
     * The Intent contains an extra with name "read-only" and Boolean value to indicate if the
     * media was mounted read only.
                -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <!--
MEDIA_EJECT and MEDIA_UNMOUNTED are not defined here: they have to be dynamically registered
otherwise it would make K-9 start at the wrong time
                -->
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.jmv.frre.moduloestudiante.prodsupport.ConnectionMonitor" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.jmv.frre.moduloestudiante.service.MailService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.jmv.frre.moduloestudiante.service.NotificationActionService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.jmv.frre.moduloestudiante.service.PushService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.jmv.frre.moduloestudiante.service.PollService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.jmv.frre.moduloestudiante.service.RemoteControlService"
            android:enabled="true"
            android:permission="com.jmv.frre.moduloestudiante.permission.REMOTE_CONTROL" >
        </service>
        <service
            android:name="com.jmv.frre.moduloestudiante.service.SleepService"
            android:enabled="true" >
        </service>

        <provider
            android:name="com.jmv.frre.moduloestudiante.provider.AttachmentProvider"
            android:authorities="com.jmv.frre.moduloestudiante.attachmentprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="true"
            android:readPermission="com.jmv.frre.moduloestudiante.permission.READ_ATTACHMENT" />
        <provider
            android:name="com.jmv.frre.moduloestudiante.provider.MessageProvider"
            android:authorities="com.jmv.frre.moduloestudiante.messageprovider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:multiprocess="true"
            android:readPermission="com.jmv.frre.moduloestudiante.permission.READ_MESSAGES"
            android:writePermission="com.jmv.frre.moduloestudiante.permission.DELETE_MESSAGES" />
        <provider
            android:name="com.jmv.frre.moduloestudiante.provider.EmailProvider"
            android:authorities="com.jmv.frre.moduloestudiante.provider.email"
            android:exported="false" />

        <receiver
            android:name="com.jmv.frre.moduloestudiante.provider.UnreadWidgetProvider"
            android:icon="@drawable/icon"
            android:label="@string/unread_widget_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/unread_widget_info" />
        </receiver>

        <activity android:name="com.jmv.frre.moduloestudiante.activity.UnreadWidgetConfiguration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jmv.frre.moduloestudiante.activity.UpgradeDatabases"
            android:label="@string/upgrade_databases_title" >
        </activity>

        <service
            android:name="com.jmv.frre.moduloestudiante.service.DatabaseUpgradeService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.swacorp.oncallpager.OnCallHelperActivity"
            android:label="@string/title_activity_on_call_helper"
            android:parentActivityName="com.swacorp.oncallpager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swacorp.oncallpager.MainActivity" />
        </activity>
        <activity
            android:name="com.swacorp.oncallpager.AddChangeActivity"
            android:label="@string/title_activity_add_change"
            android:parentActivityName="com.swacorp.oncallpager.OnCallHelperActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swacorp.oncallpager.OnCallHelperActivity" />
        </activity>
        <activity
            android:name="com.swacorp.oncallpager.ListChangesActivity"
            android:label="@string/title_activity_list_changes"
            android:parentActivityName="com.swacorp.oncallpager.OnCallHelperActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.swacorp.oncallpager.OnCallHelperActivity" />
        </activity>
    </application>

</manifest>
